
body{
    background-color: lightgray;
}
#flex{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 20vh;
    color: whitesmoke;
}
h1{
    color: rgba(30, 143, 255, 0.842);
    text-align: center;
    text-decoration: underline;
    font-size: 3.5rem;
}
.btn{
    border-radius: 10px;
    font-size: 1.5rem ;
    margin: 30px;
    padding: 20px;
    border: 2px solid black;
    cursor: pointer;
}
#start{
    background-color: rgba(0, 0, 255, 0.74);
}
#stop{
    background-color: rgba(255, 0, 0, 0.836);
}
#reset{
    background-color: rgba(0, 128, 0, 0.795);
}
.btn:hover{
    
    background-image: linear-gradient(to right, lightgreen,skyblue , lightcoral);
    
    color:whitesmoke;
    overflow: hidden;
    position: relative;
    background-size:300% 100% ;
    
    animation: shake 4s linear 0s infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }

    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
  }

#hr , #min , #sec , #count{
    font-size: 10.5rem;
    padding: 0px 10px;
}
.txt{
    font-size: 3.5rem;
    padding: 0px 30px 0px 0px;
}

#time:hover{
    
    background: linear-gradient(to right, #6666ff, #0099ff ,  #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 400% 100%;
  animation: color-change 6s linear 0s infinite;
}
@keyframes color-change {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
  }

