body{
    margin: 0;
}
.flex-box-1{
    
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    
}
#flex{
    background-color: lightcoral;
    text-align: end;
}
@media all and (min-width:1200px){
body{
    background-color: whitesmoke;
    
}

h1{
    margin-top: 100px;
    display: flex;
    position: relative;
    justify-content: center; 
    
    
}
h1:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to left, rgba(0, 179, 169, 0.7), rgba(0, 179, 169, 0.5));
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

h1:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn{
    width:30px;
    height: 30px;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 2rem;
    margin: 10px;
    padding: 5px;
    cursor: pointer;
}

#whitesmoke{
    background-color: whitesmoke;
}
#black{
    background-color: black;
}
#animated{
    background-color: lightgreen;
}
#grey{
    background-color: lightskyblue;
}

img{
    height: 50%;
    width:60%;
    margin: 0 auto;
    padding: 20px 300px;
}
p{
    font-size: 1.3rem;
    margin: 0 10px;
    padding: 0px 50px;
    text-align: justify;
}
}
  
@media all and (min-width:200px) and (max-width: 700px){
    body{
        background-color: whitesmoke;
        
    }
    
    h1{
        margin-top: 10px;
        padding-left: 5px;
        font-size: 1rem;
        display: inline-block;
        position: relative; 
        place-items: center;
        
    }
    h1:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to left, rgba(0, 179, 169, 0.7), rgba(0, 179, 169, 0.5));
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    h1:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
    .btn{
        width:10px;
        height: 10px;
        display: inline-block;
        border: 2px solid grey;
        border-radius: 2rem;
        margin: 10px;
        padding: 5px;
        cursor: pointer;
    }
    
    #whitesmoke{
        background-color: whitesmoke;
    }
    #black{
        background-color: rgba(0,0,0,0.7);
    }
    #animated{
        background-color: lightgreen;
    }
    #grey{
        background-color: lightskyblue;
    }
    
    img{
        height: 100%;
        width:100%;
      
        
    }
    p{
        font-size: 0.9rem;
        margin: 10px 10px;

    }
}
@media all and (min-width:700px) and (max-width: 1000px){
    body{
        background-color: whitesmoke;
        
    }
    
    h1{
        margin: 20px 0px;
        margin-left: 200px;
        
        padding-left: 5px;
        font-size: 1.5rem;
        display: inline-block;
        position: relative; 
        place-items: center;
        
    }
    h1:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to left, rgba(0, 179, 169, 0.7), rgba(0, 179, 169, 0.5));
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    h1:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
    .btn{
        width:10px;
        height: 10px;
        display: inline-block;
        border: 2px solid grey;
        border-radius: 2rem;
        margin: 10px;
        padding: 5px;
        cursor: pointer;
    }
    
    #whitesmoke{
        background-color: whitesmoke;
    }
    #black{
        background-color: rgba(0,0,0,0.7);
    }
    #animated{
        background-color: lightgreen;
    }
    #grey{
        background-color: lightskyblue;
    }
    
    img{
        height: 100%;
        width:100%;
      
        
    }
    p{
        font-size: 1.5rem;
        margin: 10px 10px;
        text-align: justify;
    }
}
@media all and (min-width:1000px) and (max-width: 1199px){
    body{
        background-color: whitesmoke;
        
    }
    
    h1{
        margin: 20px;
        margin-left: 300px;
        
        display: inline-block;
        position: relative; 
        place-items: center;
        
    }
    h1:after {
      content: '';
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 3px;
      bottom: 0;
      left: 0;
      background-image: linear-gradient(to left, rgba(0, 179, 169, 0.7), rgba(0, 179, 169, 0.5));
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    
    h1:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
    
    .btn{
        width:30px;
        height: 30px;
        display: inline-block;
        border: 2px solid grey;
        border-radius: 2rem;
        margin: 10px;
        padding: 5px;
        cursor: pointer;
    }
    
    #whitesmoke{
        background-color: whitesmoke;
    }
    #black{
        background-color: rgba(0,0,0,0.7);
    }
    #animated{
        background-color: lightgreen;
    }
    #grey{
        background-color: lightskyblue;
    }
    
    img{
        height: 100%;
        width:100%;
        margin: 20px auto;
        opacity: 0.9;
    }
    p{
        font-size: 1.3rem;
        margin: 0 10px;
        padding: 0px 50px;
        text-align: justify;
    }
    }